<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.aimatrix.metal.screensaver</string>
    <key>CFBundleName</key>
    <string>MetalMatrix</string>
    <key>CFBundleDisplayName</key>
    <string>Metal Matrix Test</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSPrincipalClass</key>
    <string>MetalMatrixView</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleExecutable</key>
    <string>MetalMatrix</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>